.phone-hero{
    background-image: url(/src/assets/phone2.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000;
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: end;
  }
  
.hero-phone-para{
    margin-top: 1rem;
    padding-right: 1.5rem; 
    width: 500px;
    padding-top: 3rem;
    font-family: 'Open Sans', sans-serif;  
    display: grid;
    place-content: center;
}
.hero-phone-para h1{
    color: white;
    text-align: right;
    font-size: var(--fs-600);
    font-weight: 500;
    padding: 1rem 0;
}
.hero-phone-para h2{
    font-size: 2rem;
}
.hero-phone-para h3{
    font-size: var(--fs-400);
    font-weight: 200;
    text-align: right;
}

.hero-phone-para .hero-btn-group{
    margin: 0 0 0 4rem;
    padding: .25rem 0 0 0;
    display: flex;
    justify-content: flex-end;
    gap: 4rem;
}
.hero-phone-para  a{
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-size: var(--fs-400);
    border: 1px solid var(--primary-color);
    border-radius: 6px;
    letter-spacing: .05rem;
    padding: 2%;
    min-width: 4rem;
    transition: border 275ms ease-in;
}
.hero-phone-para a:hover{
    border: 1px solid var(--accent-color);
}
@media (max-width: 700px) {
    .phone-hero{
        padding: 2rem;
        background-position: center;
        margin-bottom: 15rem;
        background-size: 130%;
        min-height: 10vh;
    }
    .hero-phone-para a{
        margin-top: 3rem;
        border-radius: 6px;
        border: 1px solid var(--accent-color);
    }
    .hero-phone-para h1{
        margin-bottom: 20rem;
        width: 109%;
    }
    .hero-phone-para h2{
        font-size: 2.5rem;
        font-weight: 400;
    }
    .hero-phone-para h3{
        margin-top: 0rem;
        font-size: var(--fs-400);
        font-weight: 200;
        text-align: right;

    }
    
}