:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #000;
  width: 100%;
  display: grid;
  place-items: center;
}

h1{
  font-size: var(--fs-600);
  font-weight: 500;
}

h3{
  font-size: var(--fs-400);
  font-weight: 200;
}
